.btn_45{
  border: 1px solid gold;
  background-color: gold;
  color: rgb(0, 0, 0);
  width: 400px;
  padding: 8px 0;
  margin-left: -20px;
  border-radius: 30px;
  margin-top: 10px;
  font-weight: bolder;
}

.btn_45:hover {
  background-color: blue;
  border: 1px solid blue;
  color: white;
}
/* nav color */
.nav_82 li a{
  color: white;
}
/* header nav tab */
.link_menu_27 a, .link_menu_30 a, .link_menu_33 a{
  color: rgb(92, 90, 90);
}
/* header text */
.header_text_23 {
  color: rgb(82, 76, 76);
}
.header_text_23:hover{
  color: red;
}
/* shop cart hover */
.shopcard_59 {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 3px solid rgb(124, 120, 120);
  padding-left: 5px;
  margin-left: 5px;
}
.shopcard_59:hover{
  border: 3px solid blue;
}
/* header navigation hover */
.min_nav {
  color: rgb(255, 255, 255);
}
.min_nav:hover {
  color: yellow;
}
/* For category items to put into right in the left column place 3. already place 9 column before. */
.category_items {
  margin-top: -990px;
  padding-left: 20px;
}
/* for sticker image border radius */
.img_radius {
  border-radius: 10px;
}
/* footer */
.footer_bar {
  background-color: rgb(255, 0, 0);
}
/* footer info backgraound image*/
.footer_info{
  background-image: url("img/bk1.png");
}
/* footer infomation sub navigation */
.footer_nav{
  color: black;
}
.footer_nav:hover{
  color: red;
}
/* footer information main navigation */
.footer_main_nav{
  color: rgb(153, 6, 6);
}
.footer_main_nav:hover{
  color: red;
}
/* footer end */
.footer_end{
  background-color: rgb(0, 0, 0);
  padding: 50px 15px;
  color: white;
}